# IDE files
*.classpath
*.project
*.settings/
.idea/
*.iml
.DS_Store

# Essentials files
/Essentials/userdata
/Essentials/config.yml
/Essentials/kits.yml
/Essentials/userdata/testplayer1.yml
/Essentials/usermap.csv

# Build files
target/
jars/
out/

# Holy shit guys why is all this crap in my directory now, I just wanted the CraftBukkit jars lmfao
apache-maven-3.6.0/
BuildData/
Bukkit/
CraftBukkit/
PortableGit-2.24.1.2-64-bit/
Spigot/
work/

BuildTools.*
craftbukkit*.jar
spigot*.jar

# That was nearly 10K files oh my god
